
$background: #F8F8F8;
$background-light: #EAEAEA;
$blue-light: #B8FFEC;
$font-size: 16px;
$pink: #FF3E79;
$white: #fff;
$gray: #7E7E82;
$gray-gray: #979797;
$dark-gray: #1B1C21;
$light-gray: #B5B6BC;
$black: #000;
