

.about-prices {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.2px;
    color: $dark-gray;
    padding: 0 16px 60px 16px;

    @media (min-width: 768px) {
        width: 421px;
    }

    &__text {
        padding-bottom: 24px;
    }

    &__btn {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        padding: 0;
        font-family: 'TT Lakes Medium';
    }

    &__btn::after {
        content: ">";
        color: $pink;
        padding-left: 6px;
    }
}