
.aside {
    display: none;
    max-width: 320px;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
    min-height: 100%;
    padding: 18.73px 24px 32px 24px;
    background: $white url("../img/images/highlight_32.svg") no-repeat 0 116px;
    color: $dark-gray;
    font-family: 'TT Lakes';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem; /*-0.2px;*/
    @media (min-width: 1336px){
        display: block;
        max-width: 300px;
    }

    &--open {

        @media (min-width: 320px)  and (max-width: 1336px){
            position: absolute;
            display: block;
            z-index: 99;
            width: 100%;
            top: 88px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__menu-item {
        background-color: $pink;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        font-family: 'TT Lakes';
        font-weight: 500;
    
    }

    &__list--margin-top {
        margin-top: 10px;
    }

    &__list--margin-bottom {
        margin-bottom: 268px;
     }

     &__list-item--margin-bottom {
        margin-bottom: 32px;
    }

    &__list-a-active {
        color: $gray;
    }

    &__menu-item--filter-drop-shadow:hover {
        filter: drop-shadow(16px 16px 20px red) invert(75%);
        transition: 1s;
    }

    &__menu-item--filter-grayscale:hover {
        filter: grayscale(80%);
        transition: 1s;
    }

    &__menu-item--filter-blur:hover {
        filter: blur(5px);
        transition: 1s;
    }
}


.language-list {
    font-family: 'TT Lakes';
    font-weight: 500;
}
.language-list__container {
    margin-top: 40px;
}
.language-list__item--active {
    color: $gray;
}
button {
    cursor: pointer;
}
.close--margin-right {
    margin-right: 16.73px;
}

.logo--margin-right {
    margin-right: 78.27px;
}
.phone {
    font-family: TT Lakes;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.0375rem;
    text-align: left;
    font-weight: bold;
}
.contacts-button-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
}
.mail-margin-top {
    margin-top: 16px;
}
.phone__container {
    margin-top: 12px;
}