
.header {
  background-color: $white;
  
  &__container {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    /*justify-content: space-around;*/
    justify-content: space-between;
    min-height: 88px;
    margin-right: 16px;

    /*@media(min-width: 1336px) {
      display: block;
      text-align: center;
    }*/
  }
  
  &__flex-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--menu-open {
    position: absolute;
    width: 100%;
    z-index: 99;
  
    @media (min-width: 1336px) {
        width: 17%;
    }
  }

  &-item--padding-right {
    padding-right: 16px;
  }

  &-item--padding-left {
    padding-left: 16px;
  }

  &-item--padding-left-big {
    padding-left: 16px;
  }
}

.menu {
    @media (min-width: 1336px) {
        display: none;
    }
}
.submit-block-btns {
    @media (min-width: 1336px) {
        display: flex;
        position: absolute;
        right: -475%;
    }
}