
.prices {
    padding-left: 8px;
    padding-top: 16px;
}
.prices-grid {

    &__order-btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
        background-color: $gray;
        border-radius: 16px;
        color: $white;
        width: 119px;
        height: 32px;
        text-align: left;
        padding-left: 12px;
        //background-image: url("../img/images/white_dropdown.svg") no-repeat right;
        //src/img/images/white_dropdown.svg
        background: url("../img/images/white_dropdown.svg") $pink no-repeat 95px center;
    
        @media(min-width: 768px) {
            position: static;
        }
    
    
    }

    &__row {
        background-color: $white;
        border-radius: 6px;
        /* Наверное эти стили нужно будет переопределять исходя из размера окна
        и выносить в медиа запросы
         */
        position: relative;
        width: 260px;
        display: grid;
        gap: 16px;
        padding: 16px 16px 20px 16px;
        height: 200px;
    
        @media(min-width: 768px) {
            position: static;
            grid-template-columns: 52% 12% 12% 12%;
            width: 99%;
            height: 66px;  
            align-items: center;
            cursor: pointer;
        }
    }

    &__cell-header {
        font-family: 'TT Lakes Medium';
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */
        color: $gray;
    
        mix-blend-mode: normal;
        opacity: 0.72;
        padding-bottom: 4px;
    
        @media(min-width: 768px) {
            display: none;
        }
    }

    &__cell-text {
        font-size: 14px;
        line-height: 18px;
        /* or 129% */
    
        letter-spacing: 0.2px;
        color: $dark-gray;
    }

    &__slider-pagination {
        top: 250px;
    
        @media (min-width: 768px) {
            display: none
        }
    }
}

.swiper-container-prices {
    position: relative;
}