.main {
    padding-bottom:30px;
}
.repair-types {
    padding-bottom: 52px;
    position: relative;
    padding-top: 16px;

    &__slide-title {
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
    
        letter-spacing: -0.2px;
    
        color:$dark-gray;
        padding-top: 16px;
        padding-left: 16px;
    }

    &__slide-item {
        width: 240px;
        height: 160px;
        background: $white;
        border: 1px solid $background-light;
        border-radius: 6px;
        position: relative;

        @media (min-width: 768px) {
            cursor: pointer;
            width: 224px;
        }  
    }

    &__wrapper {
        padding-left: 16px;

        @media (min-width: 768px) {
            display: flex;
            gap: 24px;
            padding-bottom: 24px;
            flex-wrap: wrap;
            height: 180px;
            overflow: hidden;
        }  
    }

    &-btn:after {
        content: '';
        background: url("../img/images/dropdown.svg") no-repeat center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: $pink solid 2px;
        position: absolute;
        top: 104px;
        right: 16px;
    }

    &__toggle-button {
        display: none;
        background: url("../img/images/expand.svg") no-repeat 24px 0px;
        padding-left: 57px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
